services:
  tinc-node:
    build:
      context: .
      dockerfile: Dockerfile
    image: tinc:latest
    container_name: tinc-vpn-node
    volumes:
      - ./tinc-conf:/usr/local/etc/tinc
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    privileged: true
    restart: unless-stopped
    entrypoint: ["/usr/local/sbin/tincd"]
    command: ["-D", "-ngnet"]
  tinc-wrapper:
    build:
      context: .
      dockerfile: Dockerfile.wrapper
    image: wrapper:latest
    container_name: tinc-wrapper
    network_mode: host
    restart: unless-stopped
    entrypoint: ["/usr/local/bin/wrapper"]
    command: ["/etc/wrapper.conf"]
